@import 'style_base.css';
/* EXTRA SMALL */
@media screen and (max-width: 575px) {
    main {
        width: 60% ;
        height: 70% ;
    }
    h1 {
        font-size: 1.3rem ;
    }
    p {
        font-size: 0.8rem ;
        margin-bottom: 2rem ;
    }
    .avatar {
        transform: scale(0.8);
        top: -1rem ;
    }
    ul img {
        width: 1.4rem ;
    }
}

/* SMALL */
@media screen and (min-width: 576px) {
    main {
        width: 45% ;
        height: 70% ;
    }
    .avatar {
        transform: scale(0.85);
        top: -1rem ;
    }
    p {
        font-size: 1rem ;
        margin-bottom: 2rem ;
    }
    ul img {
        width: 1.4rem ;
    }
}

/* MEDIUM */
@media screen and (min-width: 768px) {
    main {
        width: 40% ;
        height: 70% ;
    }
    h1 {
        font-size: 1.6rem ;
    }
    p {
        font-size: 1rem ;
        margin-bottom: 2rem ;
    }
    .avatar {
        transform: scale(0.9);
        top: -1rem ;
    }
    ul img {
        width: 1.6rem ;
    }
}

/* LARGE */
@media screen and (min-width: 992px) {
    main {
        width: 35% ;
        height: 75% ;
    }
    h1 {
        font-size: 1.8rem ;
    }
    p {
        font-size: 1rem ;
        margin-bottom: 2rem ;
    }
    div:nth-child(2) > a{
        font-size: 1rem ;
    }
    .avatar {
        transform: scale(0.90);
        top: -2rem ;
    }
    ul img {
        width: 1.8rem ;
    }
}

@media screen and (min-width: 1200px) {
    main {
        width: 30% ;
        height: 70% ;
    }
    h1 {
        font-size: 2rem ;
    }
    p {
        font-size: 1.1rem ;
        margin-bottom: 2rem ;
    }
    div:nth-child(2) > a{
        font-size: 1.1rem ;
    }
    .avatar {
        transform: scale(1);
        top: -0.5rem ;
    }
    ul img {
        width: 2rem ;
    }
}