@import 'style_base.css';
/* EXTRA SMALL */
@media only screen and (max-width: 575px) {
    main {
        width: 60% !important;
        height: 70% !important;
    }
    h1 {
        font-size: 1.3rem !important;
    }
    p {
        font-size: 0.8rem !important;
    }
    .avatar {
        transform: scale(0.8);
    }
    ul img {
        width: 1.8rem !important;
    }
}

/* SMALL */
@media only screen and (min-width: 576px) {
    main {
        width: 45% !important;
        height: 70% !important;
    }
    .avatar {
        transform: scale(0.85);
    }
    ul img {
        width: 1.8rem !important;
    }
}

/* MEDIUM */
@media only screen and (min-width: 768px) {
    main {
        width: 40% !important;
        height: 70% !important;
    }
    h1 {
        font-size: 1.8rem !important;
    }
    p {
        font-size: 1rem !important;
    }
    div:nth-child(2) > a{
        font-size: 1rem !important;
    }
    .avatar {
        transform: scale(0.9);
    }
    ul img {
        width: 2rem !important;
    }
}

/* LARGE */
@media only screen and (min-width: 992px) {
    main {
        width: 35% !important;
        height: 70% !important;
    }
    h1 {
        font-size: 2rem !important;
    }
    p {
        font-size: 1.1rem !important;
    }
    div:nth-child(2) > a{
        font-size: 1.1rem !important;
    }
    .avatar {
        transform: scale(0.95);
    }
    ul img {
        width: 2.2rem !important;
    }
}

@media only screen and (min-width: 1200px) {
    main {
        width: 30% !important;
        height: 70% !important;
    }
    h1 {
        font-size: 2rem !important;
    }
    p {
        font-size: 1.1rem !important;
    }
    div:nth-child(2) > a{
        font-size: 1.1rem !important;
    }
    .avatar {
        transform: scale(1);
    }
    ul img {
        width: 2.4rem !important;
    }
}